:root {
    --blue: #10486b;
    --light_gray: #696969;
    --gray: #3a3e43;
    --orange: #c96700;
    --white: #f0f0f0;
    --off_white: #d6d6d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Nova Square', sans-serif;
    background-color: var(--gray);
    color: var(--orange);
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px;
    margin: 20px;
    font-size: 45px;
}


.input-div {
    max-width: 330px;
    min-height: 100px;
    display: block;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.cash {
    width: 275px;
    height: 25px;
    margin: 10px auto;
    color: var(--orange);
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
}

.purchase-btn {
    font-size: 15px;
    font-family: 'Nova Square', sans-serif;
    padding: 5px;
    color: var(--off_white);
    background-color: var(--orange);
    cursor: pointer;
}

.display-container {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 15px 15px 0 0;
    margin: auto;
    border-bottom: 2px solid black;
}

.display {
    display: flex;
    width: 175px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.register-body {
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 125px;
    background-color: var(--blue);
    border-radius: 20px 20px 0 0;
}

.register-drawer-opening {
    width: 300px;
    height: 40px;
    background-color: var(--gray);
    border: 4px solid var(--blue);
}

.register-drawer {
    margin: -30px auto 0 auto;
    justify-items: center;
    align-items: center;
    width: 280px;
    height: 200px;
    background-color: var(--blue);
}

.register-drwer-end {
    width: 300px;
    height: 10px;
    background-color: var(--blue);
}