:root {
    --blue: #10486b;
    --light_gray: #696969;
    --gray: #3a3e43;
    --orange: #c96700;
    --white: #f0f0f0;
    --off_white: #d6d6d6;
    --money-background: #38613e;
    --money-forground: #5fb36b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Nova Square', sans-serif;
    background-color: var(--gray);
    color: var(--orange);
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px;
    margin: 20px;
    font-size: 45px;
}


.input-div {
    max-width: 330px;
    min-height: 100px;
    display: block;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.cash {
    width: 275px;
    height: 25px;
    margin: 10px auto;
    color: var(--orange);
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
}

.purchase-btn {
    font-size: 15px;
    font-family: 'Nova Square', sans-serif;
    padding: 5px;
    color: var(--off_white);
    background-color: var(--orange);
    cursor: pointer;
}

.display-container {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 15px 15px 0 0;
    margin: auto;
    border-bottom: 2px solid black;
}

.display {
    display: flex;
    width: 175px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.register-body {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    width: 375px;
    height: 150px;
    background-color: var(--blue);
    border-radius: 20px 20px 0 0;
}

.register-btns-left, .register-btns-right, .register-btns-mid {
    display: grid;
    gap: 7px;
}

.register-btns-left {
    grid-template-columns: auto auto auto;
}

.register-btns-mid {
    grid-template-columns: auto auto auto auto auto auto;
}

.register-btns-right {
    grid-template-columns: auto auto auto;
}

.button {
    padding: 7px;
}

.left {
    background-color: var(--light_gray);
}

.mid {
    background-color: var(--orange);
}

.right {
    background-color: var(--off_white);
}

.space {
    grid-column: 2/ span 5;
}

.register-drawer-opening {
    width: 375px;
    height: 60px;
    background-color: var(--gray);
    border: 5px solid var(--blue);
}

.register-drawer {
    margin: -50px auto 0 auto;
    justify-items: center;
    align-items: center;
    width: 355px;
    height: 275px;
    padding-top: 5px;
    background-color: var(--blue);
}

.register-drawer-dollars {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    width: 345px;
    height: 185px;
    margin-bottom: 5px;
}

.dollars {
    background-color: var(--light_gray);
    padding: 10px;
}

.register-drawer-coins {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    width: 345px;
    height: 80px;
    border: 1px solid rgb(255, 255, 255, 0.1);
}

.coins {
    background-color: var(--light_gray);
    padding: 10px;
}

.register-drwer-end {
    width: 375px;
    height: 10px;
    background-color: var(--blue);
}

.dollar {
    color: black;
    margin: 32px -100px 0px -47px;
	rotate: 90deg;
	width: 140px;
    display: grid;
    grid-template-columns: 15px auto auto auto auto 15px;
    gap: 1px;
    background-color: #38613e;
    border: 5px solid #5fb36b;
}

.dollar > div {
    text-align: center;
    padding: 4px;
}

.grid3 {
    rotate: 270deg;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #5fb36b;
	grid-column: 3 / 5;
	grid-row: 1 / 5;
	border-radius: 30px;
}

.grid1 {
    font-size: 12px;
    border-radius: 0 0 15px 0;
    background-color: #5fb36b;
}

.grid5{
    font-size: 12px;
    border-radius: 0 0  0 15px;
    background-color: #5fb36b;
}

.grid10 {
    font-size: 12px;
    border-radius: 0 15px 0 0;
    background-color: #5fb36b;
    margin-bottom: -5px;
}

.grid13 {
    font-size: 12px;
    border-radius: 15px 0 0 0;
    background-color: #5fb36b;
    margin-bottom: -5px;
}

.grid2, .grid4, .grid6, .grid7, .grid8, .grid9, .grid11, .grid12{
    background-color: #38613e;   
}